.size-text p{
    font-size: 20px;
}
.ui.youtube.button {
    margin-top: 12px;
}
.left-colunm{
    margin-left: 12px;
}
.ui.image img, .ui.image svg {
    margin-top: 14px;
}
.ui.stackable.grid.mr-t{margin-top:100px;}
.ui.items > .item > .image + .content {

    min-width: 0;
    width: auto;
    display: block;
    margin-left: 0;
    -ms-flex-item-align: top;
    align-self: top;
    padding-left: 1.5em;

}
