@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* semantic ui class */
.ui.icon.input.input-value1 {
    display: none;
}

.ui.text.stackable.menu a {
    color: white;
}

.ui.text.menu.mr-l {
    margin-left: 5%;
    margin-top: 10px !important;
}

.ui.container.second {
    width: 1100px;
}
.ui.fluid.image {
    margin-top: 0px !important;
}

.ui.text.menu .item.size-text {
    /* font-size: 20px; */
    margin-left: 4%;
    font-weight: 800;
    text-transform: uppercase;
}

.ui.fluid.container {
    margin: 0px !important;
}

.ui.grid {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

div.ui.circular.label.input {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

div.ui.circular.label.input input {
    border-color: none;
    background: lightgray;
    border: none;
}

div.ui.label.input,
div.ui.right.label,
div.ui.left.label {
    background-color: lightgreen;
}

div.column.col {
    width: 20rem !important;
}

div.ui.right.label {
    cursor: pointer;
}

.column.col {
    padding: 0px !important;
    margin: 10px;
}

.ui.segment {
    border: none !important;
    padding: 0px 0px 0px 0px !important;
}

.ui.container.main-back {
    margin-top: 1rem;
}

.column span,
h4 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.ui.inverted.center-button {
    text-align: center;
}

.ui.grid.margin-top2 {
    margin-top: 20px;
}

.ui.grid.mr-bt {
    margin-bottom: 20px;
}

.ui.vertical.buttons .mr-bt-cart {
    margin-bottom: 4px;
}

.ui.input input.input-width {
    width: 6rem;
}

.ui.four.stackable.cards.mr-top3 {
    margin-top: 20px;
    margin-bottom: 30px;
}

/* section-cart */
.ui.container.cart-container {
    width: 100%;
}

.ui.card.margin-cart {
    margin-left: 6%;
}

.ui.text.stackable.menu.show-drop {
    display: block;
}

.ui.bulleted.list div.item {
    margin-left: 3rem;
}

/* end ui class */
/* custom class */
#cart-shopping.item {
    display: none;
}

.logo-main {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.item.fix {
   z-index: 1;
   left: 23%;
}

img.main-img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-tranform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    overflow-y: hidden;
}

.main-header {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    opacity: 0.8;
    transform: translate(50%, 50%);
    position: absolute;
    top: 40%;
    font-size: 3rem;
}

.main-para {
    transform: translate(22%, 22%);
    position: absolute;
    top: 55%;
    font-size: 2rem;
}

.ui.icon.input.input-value1 {
    width: 100%;
    display: none;
}
img.main-img:hover {
    transform: scaleX(1.1);
}

.add-cart {
    background: rgb(207, 142, 20);
    padding: 11px;  
    border-radius: 4px;
}

.mr-l-two {
    margin-left: 6rem!important;  
}

.mr-l-one {
    margin-left: 50px;
}

.sidebar {
    height: 80vh;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 65px;
    right: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 70px;
    box-shadow: 0px 10px 10px 0px white;
    -webkit-shadow:0px 10px 10px 0px white;
    -moz-shadow: 0px 10px 10px 0px white;
    border-bottom-left-radius: 5px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
}

.sidebar a {
    display: block;
    text-transform: uppercase;
    color: white;
    margin: 18px 0 0 18px;
    border-bottom: 1px solid white;
    transition: 1s;
}

.ui.input>input.input-value {
    width: 31rem;
}

.cart-icon {
    position: fixed;
    z-index: 1;
}

.ui.center.aligned.large.header.m-c {
    margin-top: 1.3rem;
}

.ui.center.aligned.text.container.main-header:not(p) {
    font-weight: 900;
    font-size: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ui.fluid.container.fix-menu {
    width: 100% !important;
    z-index: 1;
    height: 80px;
    background: #28b463;
}

.ui.fluid.container.cus-mr {
    height: 55vh;
    overflow-y: hidden;
}

.ui.bulleted.list.m-l {
    margin-left: 0px;
}

.ui.button.add {
    margin-left: -5px
}

.ui.button.minus {
    margin-right: -5px
}

.closebtn {
    position: absolute;
    top: 15px;
}

.column.no-padding {
    padding: 0px !important;
}

.img-logo {
    margin: 10% 0 0 30%;
}

.mr-top {
    margin-top: 200px;
}

h4 .mr-top2 {
    margin-top: 10px !important;
}

.mr-top1 {
    margin-top: 13px !important;
    margin-left: 12rem;
}

.fas.fa-bars.fa-2x.mr-top-icon {
    margin-top: 2rem;
    color: black;
    display: none;
}

/* end custom class */
/* animation */

#modalpart {
    animation-name: modal;
    animation-duration: 1s;
}

@keyframes modal {
    from {
        transform: scale(0.5, 0.5);

    }

    to {
        transform: sclae(1, 1);

    }
}
    .color-text a{
        color: darkgray;
    }
    .color-text h3{
        color: white;
    }
    .color-text span{
        color: darkgray;
    }
    .color-text i{
        color: white;
    }
    .column.under{
        color: white;
    }
    .column.under a{
        color:white;
    }
    .color-text ul{
        list-style-type: none;
    }
    .column.under a{
        padding: 5px;
    }
    .fab.fa-youtube{
        color: white;
        font-size: 23px;
        padding: 5px;
    }
    .fab.fa-facebook{
        color: white;
        font-size: 23px;
        padding: 5px;
    }
    .fab.fa-instagram{
        color: white;
        font-size:23px;
        padding:5px;
    }
    .fab.fa-twitter{
        color: white;
        font-size:23px;
        padding: 5px;
    }
    .fab.fa-skype{
        color:white;
        font-size:23px;
        padding:5px;
    }
    .footer-container{
        margin-top: 10px;
    }
    .ui.four.column.stackable.grid.stylefooter{
        margin-top:2rem;
    }
    .padding ul li{
        line-height:2rem;
    }
.ui.four.column.stackable.grid.stylefooter
.column.color-text{
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
}
.ui.grid+.grid {
    margin-top: -2rem;
}



/*about page*/
.fas.fa-walking.ui.center.aligned.container.iconn{
    font-size:10rem;
}
.fas.fa-seedling.ui.center.aligned.container.iconn{
    font-size: 10rem;
}
.far.fa-heart.ui.center.aligned.container.iconn{
    font-size:10rem;
}
.ui.center.aligned.container.p{
    font-size:21px;
    color: gray;
}

/*share page*/
.page.fab.fa-facebook-f{
    background-color: #90a4ae !important;
    padding: 15px 20px;
    border-radius: 50%;
    margin-left: 10px;
    color: #fff;
    font-size: 22px;
}
.page.fab.fa-twitter{
    background-color: #90a4ae;
    padding: 15px 16px;
    border-radius: 50%;
    margin-left: 10px;
    color: #fff; 
}
.page.fab.fa-google-plus-g{
    background-color: #90a4ae !important;
    padding: 15px 13px;
    border-radius: 50%;
    margin-left: 10px;
    color: #fff;
    font-size: 22px;
    margin-top: 27px;
}
h1.ui.header {
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.shadow{
    -webkit-box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    border-radius: 5px;
}

.star-rate{
	position: absolute;
	top: 58%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
}
.star-rate input{
	display: none;
}


.star-rate label{
	display: block;
	width: 20px;
}


.star-rate label:hover{
	animation: labelaction 0.2s;	
	
}
@keyframes labelaction{
	from{transform: scale(1,1);}
	to{transform: scale(1.2, 1.2);}
}
.star-rate label::before{
	content: "\f005";
	font-family: fontAwesome;
	display: block;
	position: relative;
	font-size: 20px;
	color: grey;
}
.star-rate label::after{
	content: "\f005";
	font-family: fontAwesome;
	display: block;
	font-size: 20px;
	position: absolute;
	color: rgb(226, 226, 44);
	top: 0;
	opacity: 0;
	transition: .5s;
	text-shadow: 0 5px 5px rgba(0, 0,0, 0.5);
}
.star-rate label:hover::after,
.star-rate input:checked ~ label::after{
	opacity: 1;	
}