@media (max-width: 736px){
    #cart-shopping.item{
        left: 120px!important;
        margin-left: 2rem !important;
    }
}
@media(max-width: 1030px) {
    div.nine.wide.column, .ui.text.stackable.menu.mr-l
    {display: none;}
    .ui.fluid.container.cus-mr{height: 30vh;}
    .main-header{top:24%;}
    .main-para{top:30%;}
    .cart-icon{
        margin-left: 0.5rem;
    }    
    .ui.four.column.two.row .column.col:last-child{
        display: none;
    }
    .ui.center.aligned.large.header.m-c{
        margin-bottom: 1.8rem;
    }
    .ui.icon.input.input-value1{
        display: block;
        padding: 0.5rem;
        border-radius: 5px;
        width: 100%;
       }
    .ui.input > input{width: 100%;}
    #cart-shopping.item{
        display: block;
        margin-left: 10rem;
        left:170px;
        top:25px;
        position:fixed;
        z-index: 1;
    }
    .ui.fluid.image {
        margin-top: 14px;
    }
    
    .fas.fa-bars.fa-2x.mr-top-icon {
        display: block; 
        margin-top: 1.5rem;
    }
}
@media(max-width:812px){
    .fas.fa-bars.fa-2x.mr-top-icon{
        display: block;
    }
    .main-header{top:22%;}
    .main-para{font-size: 1.5rem;}
    div.column.col:nth-child(odd){
        margin-left: 70px!important;
    }
    .ui.four.column.two.row .column.col:last-child{
        display: block;
    }
    .cart-icon{
        margin-left: 0.5rem;
    }
    .mr-l-one{
        margin-left: 50px;
    }   
    /* .ui.input > input{
        width: 25rem;
    } */
}
@media(min-width: 992px){
    .ui.medium.images img{
        width: 250px!important;
        height: auto;
    }
}  
@media(min-width: 1108px){
    .ui.center.aligned.header.m-c{
        margin-top: 1.2rem;
    }
} 
@media(max-width:1108px){
    .ui.center.aligned.header.m-c{
        margin-top: 1rem;   
    }
}
@media(max-width: 550px) {
.ui.fluid.container.cus-mr{
        display: none;
    }
.logo-main{font-size: 1.5rem;}
.ui.icon.input.input-value1{
    display: block;
    padding: 0.5rem;
    border-radius: 5px;
    
   }
.ui.icon.input.input-value1 input{width:100%;}
}
@media only screen and (max-width: 991px) and (min-width: 768px){
.ui[class*="four column"].doubling.grid > .row > .column, div.ui[class*="four column"].doubling.grid > .column:not(.row), .ui.grid > [class*="four column"].doubling.row.row > .column{
    width: 300px!important;
}
}
@media only screen and (max-width: 767px){
    .ui.stackable.grid > .row > .wide.column, .ui.stackable.grid > .wide.column, .ui.stackable.grid > .column.grid > .column, .ui.stackable.grid > .column.row > .column, .ui.stackable.grid > .row > .column, .ui.stackable.grid > .column:not(.row), .ui.grid > .stackable.stackable.row > .column {
        margin: 0em 2em !important;
    }
}